<div class="contact-list">
  <h2>Contact List</h2>
  
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.name }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.address }}</td>
        <td>{{ contact.city }}</td>
        <td>{{ contact.state }}</td>
        <td>{{ contact.zipcode }}</td>
      </tr>
    </tbody>
  </table>
</div>